@use '../util' as u;

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body, html {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
  font-family: u.$font;
  position: relative;
}

