@use '../util' as u;
header{
    width: var(--center-width);
    margin: 0 auto;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 9999999999999999999999999;
    nav{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        p{
            margin-inline-start: u.rem(100);
        }
        .placeholder-nav{
            display: none;
        }
    }
    .icons{
        cursor: default;
        position: absolute;
        z-index: 99999999999;
        right: 20px;
        top: 5px;
        .fa-brands{
            cursor: pointer;
            font-size: u.rem(20);
            margin-inline: u.rem(5);
            @include u.breakpoint(medium){
                margin-inline: u.rem(20);
                font-size: u.rem(30);
            }
        }
    }
}
.hero{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(7, 68, 9, 0.479) 35%, rgba(4, 49, 11, 0.877) 100%), 
    url('/images/hero-image.png');
width: 100vw;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;

    .content{
        position: relative;
        z-index: 99999;
        width: var(--center-width);
        margin: 0 auto;
        padding-top: 350px;
        @include u.breakpoint(medium){
            padding-top: 350px;
        }
        h1{
            color: white;
            font-weight: 700;
            font-size: u.rem(40);
            transition: 0.5s;
            @include u.breakpoint(medium){
                transition: 0.5s;
                font-size: u.rem(80);
            }
        }
        p{
            color: white;
            font-size: u.rem(18);
            font-weight: 400;
            margin-block-start: u.rem(5);
            @include u.breakpoint(medium){
                transition: 0.5s;
                font-size: u.rem(25);
            }
        }
        button{
            display: block;
        }
        .tel-link{
            color: white;
            font-size: u.rem(14);
            font-weight: 400;
            letter-spacing: 1px;
            @include u.breakpoint(medium){
                font-size: u.rem(20);
            }
            .connect{
                margin-inline-end: u.rem(10);
            }
        }
        .plc-btn{
            margin-block: u.rem(5);
            border: none;
            outline: none;
            border-radius: 4px;
            background:#87B949;
            border: 2px solid #87B949;
            letter-spacing: 2px;
            width: fit-content;
            padding: 10px;
            display: block;
            font-size: u.rem(16);
            text-transform: uppercase;
            font-weight: 700;
            transition: 0.5s;
            @include u.breakpoint(medium){
                transition: 0.5s;
                font-size: u.rem(25);
            }
        }
        .plc-btn:hover{
            transition: 0.5s;
            background: #73c410;
        }
    }
}
a{
    color: white;
}
.svg-wave{
    position: relative;
    margin-top: -500px;
    width: 100%;
    @include u.breakpoint(medium){
        top: 90%;
    }
    @include u.breakpoint(xlarge){
        top: 85%;
    }
}
.section-1{
    
    width: var(--center-width);
    margin: 0 auto;
    margin-top: u.rem(100);
    @include u.breakpoint(large){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .content{
        order: -1;
        text-align: left;
        max-width: 700px;
        .headings{
            margin-block: u.rem(20);
        }
        h1{
            font-size: 2rem;
            font-weight: 600;
        }
        p{
            font-size: 1rem;
            font-weight: 400;
        }
    }

    .mascot-image{
        z-index: 9999999999999999999999999;
        width: 100%;
        .mascot{
            max-width: 600px;
            width: 100%;
            object-fit: cover;
        }
    }
}
